/*linear gradient variables*/
/*box-shadow buttons*/
body {
  font-size: 12px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "'Roboto', sans-serif";
}

a {
  color: black;
  text-decoration: none;
}

h1, h2 {
  font-weight: bolder;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
header .header__logo {
  width: 200px;
  height: 35px;
  padding-top: 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 15px;
  position: relative;
}
header .header__logo {
  width: 200px;
  height: 35px;
  padding-left: 50px;
}
header .header__returnarrow {
  position: absolute;
  left: 50px;
}

.wrapper {
  -webkit-animation: loader 3000ms;
          animation: loader 3000ms;
}

.loadingspinner__container {
  display: flex;
  height: 316px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  -webkit-animation: loaderspinner 3000ms forwards;
          animation: loaderspinner 3000ms forwards;
}

.loadingspinner {
  width: 50px;
  height: 50px;
  border: 9px dashed #9356DC;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingspinner2 {
  width: 40px;
  height: 40px;
  border: 6px dashed #99E2D0;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingspinner3 {
  width: 30px;
  height: 30px;
  border: 3px dashed #FF79DA;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 234);
  height: 45px;
  font-size: 16px;
  box-shadow: 0px 1px 5px grey;
}
form .form__button {
  border: none;
  background-color: rgb(235, 235, 234);
  font-weight: 400;
  font-size: inherit;
  width: 175px;
}
form .form__icon {
  margin-right: 15px;
  padding-bottom: 5px;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 20px 40px 20px;
  margin-bottom: 40px;
  background-color: rgb(247, 247, 246);
}
.presentation__h1 {
  font-size: 25px;
  width: 100%;
  text-align: center;
}
.presentation__text {
  font-size: 18px;
  width: 100%;
  text-align: center;
  margin-top: 0px;
}
.presentation__button {
  border-radius: 25px;
  border: 0px;
  height: 40px;
  width: 200px;
  color: white;
  background: linear-gradient(341deg, #9356DC 9%, #FF79DA 88%);
  font-weight: bold;
  box-shadow: 0px 0px 3px grey;
  cursor: pointer;
  box-shadow: 0px 0px 7px grey;
}
.presentation__button:hover {
  background: linear-gradient(341deg, #a16be0 9%, #ff93e1 88%);
}

.howitworks {
  padding: 0px 20px;
  background-color: #FFF;
  margin-bottom: 50px;
}
.howitworks__title {
  font-size: 25px;
}
.howitworks__button {
  background-color: rgb(247, 247, 246);
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: 0px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 15px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 700;
  font-size: 14px;
}
.howitworks__icon {
  position: absolute;
  left: 10%;
  bottom: 25px;
  color: grey;
}
.howitworks__number {
  position: absolute;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  color: #FFF;
  font-size: 12px;
  border-radius: 100px;
  left: -10px;
  bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.howitworks__button:hover {
  background-color: rgb(244, 237, 254);
}

.howitworks__button:hover .howitworks__icon {
  color: #9356DC;
}

.restaurants {
  background-color: rgb(247, 247, 246);
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}
.restaurants__title {
  font-size: 25px;
}
.restaurants__card {
  width: 100%;
  height: 270px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  border-radius: 15px;
  position: relative;
}
.restaurants .card__img {
  height: 185px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .card__title {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 17px;
  padding-left: 10px;
}
.restaurants .card__p {
  margin-top: 5px;
  font-size: 15px;
  padding-left: 10px;
}
.restaurants .card__icon {
  color: black;
  position: absolute;
  bottom: 0px;
  right: -5px;
  width: 50px;
  height: 50px;
  z-index: 10;
  opacity: 1;
  transition: opacity 250ms;
  cursor: pointer;
}
.restaurants .card__icon:active {
  opacity: 0;
}
.restaurants .card__icon:active + .card__icon2 {
  opacity: 1;
}
.restaurants .card__icon2 {
  position: absolute;
  bottom: 25px;
  right: 8px;
  background-image: linear-gradient(341deg, #9356DC 9%, #FF79DA 88%);
  background-clip: text;
  -webkit-background-clip: text;
  width: 50px;
  height: 50px;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1000ms;
}
.restaurants .card__icon2:active {
  background-color: transparent;
}
.restaurants__newtag {
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: #99E2D0;
  width: 100px;
  height: 30px;
  font-size: 14.4px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #278870;
}

/* Keyframes content loader*/
@-webkit-keyframes loader {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.2;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/*keyframes loader spinner*/
@-webkit-keyframes loaderspinner {
  0% {
    opacity: 1;
    transform: rotate(1turn);
  }
  33% {
    opacity: 0.8;
    transform: rotate(2turn);
  }
  75% {
    opacity: 0.6;
    transform: rotate(4.3turn);
  }
  100% {
    opacity: 0;
    transform: rotate(6turn);
  }
}
@keyframes loaderspinner {
  0% {
    opacity: 1;
    transform: rotate(1turn);
  }
  33% {
    opacity: 0.8;
    transform: rotate(2turn);
  }
  75% {
    opacity: 0.6;
    transform: rotate(4.3turn);
  }
  100% {
    opacity: 0;
    transform: rotate(6turn);
  }
}
.imgrestaurant {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background-color: rgb(247, 247, 246);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 40px 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  margin-top: -55px;
}
.menu__title {
  box-sizing: border-box;
  margin-right: 20px;
  font-family: "Shrikhand", cursive;
}
.menu__icon__1 {
  color: black;
  position: absolute;
  bottom: -20px;
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 10;
  opacity: 1;
  transition: opacity 250ms;
  cursor: pointer;
}
.menu__icon__1:active {
  opacity: 0;
}
.menu__icon__1:active + .menu__icon__2 {
  opacity: 1;
}
.menu__icon__2 {
  position: absolute;
  bottom: 5px;
  right: 27px;
  background-image: linear-gradient(341deg, #9356DC 9%, #FF79DA 88%);
  background-clip: text;
  -webkit-background-clip: text;
  width: 50px;
  height: 50px;
  color: transparent;
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1000ms;
}
.menu__icon__2:active {
  background-color: transparent;
}
.menu__section-title {
  font-weight: 300;
  font-size: 15px;
  border-bottom: solid #99E2D0;
  padding-bottom: 6px;
  width: 35px;
  margin-top: 0;
}
.menu__title__icon {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  padding: 0 20px;
  position: relative;
}
.menu__part {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 0 20px;
}
.menu__button {
  position: relative;
  width: 100%;
  background-color: #FFF;
  border-radius: 15px;
  margin-bottom: 15px;
  border: transparent;
  box-shadow: 0px 0px 4px lightgrey;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 5px;
  box-sizing: border-box;
}
.menu__p--bold {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 10px;
}
.menu__p--normal {
  margin: 5px 0;
}
.menu__price {
  font-weight: bold;
  position: absolute;
  right: 20px;
  bottom: -2px;
  box-sizing: border-box;
}

.loading_menu_1 {
  -webkit-animation: loading_menu 500ms 200ms backwards;
          animation: loading_menu 500ms 200ms backwards;
}

.loading_menu_2 {
  -webkit-animation: loading_menu 500ms 500ms backwards;
          animation: loading_menu 500ms 500ms backwards;
}

.loading_menu_3 {
  -webkit-animation: loading_menu 500ms 800ms backwards;
          animation: loading_menu 500ms 800ms backwards;
}

@-webkit-keyframes loading_menu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading_menu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.order {
  background: linear-gradient(341deg, #9356DC 9%, #FF79DA 88%);
  color: #FFF;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  border: 0px;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 0px 3px grey;
}
.order:hover {
  background: linear-gradient(341deg, #a16be0 9%, #ff93e1 88%);
  box-shadow: 0px 0px 7px grey;
}
.order__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 20px 30px 20px;
}
.footer__link {
  color: inherit;
  font-size: 15px;
  margin-bottom: 5px;
}
.footer__icon {
  color: #FFF;
  margin-right: 5px;
}/*# sourceMappingURL=main_index.css.map */