.wrapper{
    animation: loader 3000ms;
}
.loadingspinner__container{
    display: flex;
    height: 316px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: loaderspinner 3000ms forwards;
}
.loadingspinner{
    width: 50px;
    height: 50px;
    border: 9px dashed $primarycolor;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingspinner2{
    width: 40px;
    height: 40px;
    border: 6px dashed $tertiarycolor;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingspinner3{
    width: 30px;
    height: 30px;
    border: 3px dashed $secondarycolor;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 234);
    height: 45px;
    font-size: 16px;
    box-shadow: 0px 1px 5px grey;
    .form__button{
        border: none;
        background-color: rgb(235, 235, 234);
        font-weight: 400;
        font-size: inherit;
        width: 175px;
    }
    .form__icon{
        margin-right: 15px;
        padding-bottom: 5px;
    }
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px 40px 20px;
    margin-bottom: 40px;
    background-color: $backgroundcolorgrey;
    &__h1{
        font-size: 25px;
        width: 100%;
        text-align: center;
    }
    &__text{
        font-size: 18px;
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
    &__button{
        border-radius: 25px;
        border: 0px;
        height: 40px;
        width: 200px;
        color: white;
        background: $gradient;
        font-weight: bold;
        box-shadow: $shadow-buttons;
        cursor: pointer;
        &:hover{
            background: linear-gradient(
                341deg,
                lighten($primarycolor, 5%) 9%,
                lighten($secondarycolor, 5%) 88%,
                );
        }
        box-shadow: 0px 0px 7px grey;
    }
}
.howitworks{
    padding: 0px 20px;
    background-color: #FFF;
    margin-bottom: 50px;
    &__title{
        font-size: 25px;
    }
    &__button{
        background-color: rgb(247, 247, 246);
        width: 100%;
        height: 50px;
        border-radius: 15px;
        border: 0px;
        margin-bottom: 20px;
        box-shadow: 0px 3px 15px lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: 700;
        font-size: 14px;
    }
    &__icon{
        position: absolute;
        left: 10%;
        bottom: 25px;
        color: grey;
    }
    &__number{
        position: absolute;
        background-color: $primarycolor;
        width: 20px;
        height: 20px;
        color: #FFF;
        font-size: $fontsizeregular;
        border-radius: 100px;
        left: -10px;
        bottom: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}
.howitworks__button:hover{
    background-color: rgb(244, 237, 254);
}
.howitworks__button:hover .howitworks__icon{
    color: $primarycolor;
}

.restaurants{
    background-color: $backgroundcolorgrey;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    &__title{
        font-size: 25px;
    }
    &__card{
        width: 100%;
        height: 270px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        border-radius: 15px;
        position: relative;
    }
        .card__img{
            height: 185px;
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
    }
        .card__title{
            margin-top: 20px;
            margin-bottom: 0px;
            font-size: 17px;
            padding-left: 10px;
        }
        .card__p{
            margin-top: 5px;
            font-size: 15px;
            padding-left: 10px;
        }
        .card__icon{
            color: black;
            position: absolute;
            bottom: 0px;
            right: -5px;
            width: 50px;
            height: 50px;
            z-index: 10;
            opacity: 1;
            transition: opacity 250ms;
            cursor: pointer;
        }
        .card__icon:active{
            opacity: 0;
            & + .card__icon2{
                opacity: 1;
            }
        }
        .card__icon2{
            position: absolute;
            bottom: 25px;
            right: 8px;
            background-image: $gradient;
            background-clip: text;
            -webkit-background-clip: text;
            width: 50px;
            height: 50px;
            color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 1000ms;
            
        
        }
        .card__icon2:active{
            background-color: transparent;
        }
        &__newtag{
            position: absolute;
            top: 5px;
            right: 20px;
            background-color: $tertiarycolor;
            width: 100px;
            height: 30px;
            font-size: $fontsizeregular * 1.2;
            font-weight:600;
            display: flex;
            align-items: center;
            justify-content: center;
            color: darken($tertiarycolor, 40%);
        }
}

/* Keyframes content loader*/
@keyframes loader{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0.2;
    }
    75%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
}

/*keyframes loader spinner*/
@keyframes loaderspinner{
    0%{
        opacity: 1;
        transform: rotate(1turn);
    }
    33%{
        opacity: 0.8;
        transform: rotate(2turn);
    }
    75%{
        opacity: 0.6;
        transform: rotate(4.3turn);
    }
    100%{
        opacity: 0;
        transform: rotate(6turn);
    }
}