.wrapper{
    animation: loader 3500ms;
}
.loadingspinner__container{
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    animation: loaderspinner 3000ms forwards;
    transform-origin: 50% 82%;
    // ou mettre align-items center et transform-origin default
}
.loadingspinner{
    width: 50px;
    height: 50px;
    border: 9px dashed $primarycolor;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingspinner2{
    width: 40px;
    height: 40px;
    border: 6px dashed $tertiarycolor;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingspinner3{
    width: 30px;
    height: 30px;
    border: 3px dashed $secondarycolor;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 234);
    height: 45px;
    padding-left: 50px;
    font-size: 16px;
    box-shadow: 0px 1px 5px grey;
    .form__button{
        border: none;
        background-color: rgb(235, 235, 234);
        font-weight: 400;
        font-size: inherit;
        width: 175px;
    }
    .form__icon{
        margin-right: 15px;
        padding-bottom: 5px;
    }
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20px 40px 20px;
    margin-bottom: 40px;
    background-color: $backgroundcolorgrey;
    box-shadow: 0px 1px 1px rgb(245, 244, 244);
    box-sizing: border-box;
    @media screen and (min-width: 992px) {
     margin-bottom: 10px;   
    }
    &__h2{
        font-size: 25px;
        width: 100%;
        text-align: center;
    }
    &__text{
        font-size: 15px;
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
    &__button{
        border-radius: 25px;
        border: 0px;
        height: 30px;
        padding-top: 15px;
        text-align: center;
        font-size: 14px;
        width: 200px;
        color: white;
        background: $gradient2;
        font-weight: bold;
        box-shadow: $shadow-buttons;
        cursor: pointer;
        &:active{
            background: linear-gradient(
                341deg,
                lighten($primarycolor, 7%) -20%,
                lighten($secondarycolor, 7%) 89%,
            );
            box-shadow: 0px 0px 10px grey;
        }
        @media screen and (min-width: 992px) {
            &:hover{
                background: linear-gradient(
                    341deg,
                    lighten($primarycolor, 5%) 9%,
                    lighten($secondarycolor, 5%) 88%,
                );
                box-shadow: 0px 0px 10px grey;
                transition: all 1s;
                }
        }
    }
}
.howitworks{
    padding: 0px 20px;
    background-color: #FFF;
    margin-bottom: 50px;
    box-sizing: border-box;
    @media screen and (min-width: 992px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 50px;
    }
    &__title{
        font-size: 25px;
        width: 100%;
        @media screen and (min-width: 992px) {
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        font-size: 26px;
        }
    }
    &__button{
        background-color: rgb(247, 247, 246);
        width: 100%;
        height: 60px;
        border-radius: 15px;
        border: 0px;
        margin-bottom: 20px;
        margin-left: 5px;
        box-shadow: 0px 3px 15px lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: 700;
        font-size: 14px;
        &:active{
            background-color: rgb(244, 237, 254);
        }
        &:active > .howitworks__icon{
            color: $primarycolor;
        }
        @media screen and (min-width: 992px) {
        width: 30%;
        height: 60px;
        font-size: 16px;
        &:hover{
            background-color: rgb(244, 237, 254);
            transform: scale(1.10);
            transition: all 800ms ease-in-out;
        }
        &:hover > .howitworks__icon{
            transform: rotate(1turn);
            color: darken($primarycolor, 10%);
            transition: all 1s 300ms;
        }
        &:hover > .howitworks__number{
            transform: rotate(1turn);
            transition: transform 1s 300ms;
        }
        }
    }
    &__p{
        width: 170px;
        padding: 5px 0;
        @media screen and (min-width: 992px) {
        width: 180px;    
        }

    }
    &__icon{
        position: absolute;
        left: 8%;
        bottom: 30px;
        color: grey;
        @media screen and (min-width: 992px) {
        bottom: 31px;
        }
    }
    &__number{
        position: absolute;
        background-color: $primarycolor;
        width: 23px;
        height: 23px;
        color: #FFF;
        font-size: $fontsizeregular;
        border-radius: 100px;
        left: -13px;
        bottom: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 992px) {
            width: 27px;
            height: 27px;
            left: -13px;
            bottom: 7px;
        }
    }   
}

.restaurants{
    background-color: $backgroundcolorgrey;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 690px) and (max-width: 991px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    @media screen and (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 50px;
    }
    &__title{
        font-size: 25px;
        @media screen and (min-width: 690px) and (max-width: 991px) {
            width: 100%;
            margin-top: 0px;
            display: flex;
            justify-content: center;
            font-size: 30px;
        }
        @media screen and (min-width: 992px) {
        width: 100%;    
        }
    }
    &__card{
        width: 100%;
        height: 260px;
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        border-radius: 15px;
        position: relative;
        box-shadow: 0px 3px 15px lightgray;
        &__container{
            margin-bottom: 20px;
            position: relative;
            @media screen and (min-width: 690px) and (max-width: 991px) {
                width: 320px;
                height: 260px;
                margin-bottom: 30px;
            }
            @media screen and (min-width: 992px) {
                width: 47%;
                margin-bottom: 50px;
            }
        }
    }
        .card__img{
            height: 185px;
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
            @media screen and (min-width: 992px) {
                &:hover + .restaurants__newtag{
                    transform: scale(1.25);
                    transition: all 1s ease-out;
                    color: lighten($tertiarycolor, 20%);
                    background-color: darken($tertiarycolor, 20%);
                    text-shadow: 3px 3px 8px $tertiarycolor;

                }    
                }
    }
        .card__title{
            margin-top: 15px;
            margin-bottom: 0px;
            font-size: 17px;
            padding-left: 10px;
        }
        .card__p{
            margin-top: 5px;
            font-size: 15px;
            padding-left: 10px;
        }
        .card__icon{
            color: black;
            position: absolute;
            bottom: 13px;
            right: 15px;
            width: 30px;
            height: 30px;
            z-index: 10;
            opacity: 1;
            transition: opacity 250ms;
            cursor: pointer;
        }
        .card__icon:active{
            opacity: 0;
            & + .card__icon2{
                opacity: 1;
            }
        }
        .card__icon2{
            position: absolute;
            bottom: 28px;
            right: 18px;
            background-image: $gradient;
            background-clip: text;
            -webkit-background-clip: text;
            width: 30px;
            height: 30px;
            color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: opacity 1000ms;
            
        
        }
        .card__icon2:active{
            background-color: transparent;
        }
        &__newtag{
            position: absolute;
            top: 5px;
            right: 20px;
            background-color: $tertiarycolor;
            width: 100px;
            height: 30px;
            font-size: $fontsizeregular * 1.2;
            font-weight:600;
            display: flex;
            align-items: center;
            justify-content: center;
            color: darken($tertiarycolor, 40%);
        }
}

/* Keyframes content loader*/
@keyframes loader{
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*keyframes loader spinner*/
@keyframes loaderspinner{
    0%{
        opacity: 1;
        transform: rotate(1turn);
    }
    33%{
        opacity: 1;
        transform: rotate(2turn);
    }
    75%{
        opacity: 1;
        transform: rotate(4.3turn);
    }
    100%{
        opacity: 0;
        transform: rotate(6turn);
    }
}