.imgrestaurant{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.menu{
    background-color: $backgroundcolorgrey;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    @media screen and (min-width: 992px) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding: 20px 50px;
    }
    margin-top: -50px; 
    &__title{
        box-sizing: border-box;
        margin-right: 30px;
        padding-top: 10px;
        font-size: 25px;
        font-family: 'Shrikhand', cursive;
    }
    &__icon__1{
        color: black;
        position: absolute;
        bottom: 3px;
        right: 30px;
        width: 30px;
        height: 30px;
        z-index: 10;
        opacity: 1;
        transition: opacity 250ms;
        cursor: pointer;
    }
    &__icon__1:active{
        opacity: 0;
        & + .menu__icon__2{
            opacity: 1;
            }
        }
    &__icon__2{
        position: absolute;
        bottom: 17px;
        right: 33px;
        background-image: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        width: 30px;
        height: 30px;
        color: transparent;
        display:flex!important ;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 1000ms;
        
    
    }
    &__icon__2:active{
        background-color: transparent;
    }
    &__section-title{
        font-weight: 300;
        font-size: 15px;
        border-bottom: solid $tertiarycolor;
        padding-bottom: 6px;
        width: 35px;
        margin-top: 0;
    }
    &__title__icon{
        display: flex;
        box-sizing: border-box;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        position: relative;
    }
    &__part{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 15px;
        padding:0 20px;
        @media screen and (min-width: 992px) {
            width: 33%;
        
        }
    }
    &__button{
        width: 100%;
        background-color: #FFF;
        border-radius: 15px;
        margin-bottom: 15px;
        border: transparent;
        box-shadow: 0px 0px 4px lightgrey;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        box-sizing: border-box;
        overflow: hidden;
        font-size: 14px;
        cursor: pointer;
        &__icon{
        }
        &:active > .menu__button--greenblock{ 
            margin-right: -1px;
            transition-duration: 500ms;
            transition-timing-function: ease-in-out;
        }
        &:active .menu__button--greenblock__icon{
            transform: rotate(1turn);
            transition: transform 400ms 200ms ease-out;
        }
        @media screen and (min-width: 992px) {
            &:hover > .menu__button--greenblock{
            margin-right: -1px;
            transition-duration: 500ms;
            transition-timing-function: ease-in-out;
            }
            &:hover .menu__button--greenblock__icon{
            transform: rotate(1turn);
            transition: transform 400ms 200ms ease-out;
            }
        }
        &__text{ 
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; 
            width: 70%;
        } 
        &--greenblock{
            background-color: $tertiarycolor;
            height: 60px;
            width: 60px;
            border: transparent;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: -70px;
            &__icon{
                height: 25px;
                width: 25px;
                background-color: #FFF;
                color: $tertiarycolor;
                border-radius: 100px;
                display: flex !important;
                justify-content: center;
                align-items: center;
                transform: rotate(0turn);
            }
        }
    }
    &__p--bold{
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;    
        margin-top: 0px;
        margin-bottom: 5px;
        text-align: start;
    }
    &__p--normal{
        margin: 0;
        overflow: hidden;
        white-space: nowrap;    
        text-overflow: ellipsis;
        text-align: start;
        }
    &__price{
        display: flex;
        align-items: flex-end;
        height: 36px;
        margin: 0;
        padding-right: 20px;
        font-weight: bold;
        margin-left: 20px;
    }
}
.loading_menu_1{
    animation: loading_menu $animation-duration 200ms backwards;
}
.loading_menu_2{
    animation: loading_menu $animation-duration 500ms backwards;
}
.loading_menu_3{
    animation: loading_menu $animation-duration 800ms backwards;
}
.loading_menu_4{
    animation: loading_menu $animation-duration 1100ms backwards;
}
@keyframes loading_menu{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


.order{
    background: $gradient;
    color: #FFF;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    border: 0px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: $shadow-buttons;
    &:active{
        background: linear-gradient(
        341deg,
        lighten($primarycolor, 5%) 9%,
        lighten($secondarycolor, 5%) 88%,
        );
        box-shadow: 0px 0px 7px grey;
    }
    @media screen and (min-width: 992px) {
        &:hover{
        background: linear-gradient(
        341deg,
        lighten($primarycolor, 5%) 9%,
        lighten($secondarycolor, 5%) 88%,
        );
        box-shadow: 0px 0px 7px grey;
        transition: all 700ms;
        }
    }
    &__container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
