$primarycolor: #9356DC;
$secondarycolor:#FF79DA; 
$tertiarycolor: #99E2D0;

/*linear gradient variables*/
$gradient: linear-gradient(341deg, $primarycolor 9%, $secondarycolor 88%);

/*box-shadow buttons*/
$shadow-buttons: 0px 0px 3px grey;


$backgroundcolorgrey: rgb(247, 247, 246);
$fontsizeregular: 12px;