.footer{
    background-color: rgb(30, 30, 30);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 20px 30px 20px;      
    @media screen and (min-width: 992px) {
     
    }
    &__link{
        color: inherit;
        font-size: 15px;
        margin-bottom: 5px;
        @media screen and (min-width: 992px) {
        font-size: 18px;    
        }
    }
    &__icon{
        color: #FFF;
        margin-right: 5px;
    }
    h1{
        font-family: 'Shrikhand', cursive;
        font-size: 16px;
        @media screen and (min-width: 992px) {
        font-size: 25px;
        margin: 0;
        }
        @media screen and (min-width: 992px){
            display: flex;
            justify-content: center;
            margin: 20px 0px;
        }
    }
    &__container{
        @media screen and (min-width: 992px){
            display: flex;
            justify-content: space-between;
            padding: 0px 50px;
    
        }
    }
}