header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 15px;
    position: relative;
    .header__logo{
        width: 200px;
        height: 35px;
        padding-left: 50px;
        }
    .header__returnarrow{
        position: absolute;
        left: 50px;
    }    
}